<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OhShots</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/ecb2ff1f85.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <img src="/images/logotipo.png" alt="">


    <button class="burger">
      <i class="fas fa-bars fa-lg"></i>

    </button>






    <button class="carrito">
      <i class="fas fa-shopping-cart fa-lg"></i>
    </button>
    <button>
      <i class="far fa-user fa-lg"></i>
    </button>

    <nav>
      <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </ul>


    </nav>
  </header>
  <div class="container">

    <ul class="slider">
      <li id="slide1">
        <img src="/images/carousel-1.jpg" alt="">


      </li>
      <li id="slide2">
        <img src="/images/carousel-2.jpg" alt="">

      </li>
      <li id="slide3">
        <img src="/images/carousel-3.jpg" alt="">

      </li>
    </ul>

    <ul class="menu">
      <li>
        <a href="#slide1"></a>
      </li>
      <li>
        <a href="#slide2"></a>
      </li>
      <li>
        <a href="#slide3"></a>
      </li>
    </ul>

  </div>
  <section class="destacados">
    <h1>Destacados</h1>
    <main class="contenedor">
      <article>
        <img src="/images/gin.png" alt="">
        <p>precio</p>
        <h4>Nombre producto</h4>

      </article>
      <article>
        <img src="/images/vino.png" alt="">
        <p>precio</p>
        <h4>Nombre producto</h4>

      </article>
      <article>
        <img src="/images/andesroja.png" alt="">
        <p>precio</p>
        <h4>Nombre producto</h4>
      </article>

  </section>
  <section class="productos">
    <article>

    </article>
    <article></article>

  </section>
  </main>
  <section>
    <img class="info" src="/images/compraonline1.png" alt="">
    <img class="info" src="/images/compraonline2.png" alt="">
    <img class="info" src="/images/compraonline3.png" alt="">
    <img class="info" src="/images/compraonline4.png" alt="">
    <img class="compraonline" src="/images/compraonlinesketch.png" alt="">



  </section>
  <footer>
    <nav>
      <ul>
        <li><a href="">Contacto</a></li>
        <li><a href="">Quienes somos</a></li>
        <li><a href="">Preguntas frecuentes</a></li>
      </ul>
    </nav>
    <div class="contacto">
      <a href="https://www.facebook.com/"> <img src="/images/facebooklogo.png" alt=""></img></a>
      <a href="https://www.instagram.com/"> <img src="/images/instagramlogo.png" alt=""></img></a>
      <img class="metodos" src="/images/metodosDePago.png" alt="">
    </div>
  </footer>


</body>

</html>