<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ingresar</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/ecb2ff1f85.js" crossorigin="anonymous"></script>
</head>

<body class="body--login">
  <header>
    <img src="/images/logotipo.png" alt="">


    <button class="burger">
      <i class="fas fa-bars"></i>

    </button>


    <button class="carrito">
      <i class="fas fa-shopping-cart"></i>
    </button>

    <nav>


    </nav>
  </header>
  <div class="container--login">

    <ul class="slider">
      <li id="slide1">
        <img src="/images/carousel-1.jpg" alt="">


      </li>
      <li id="slide2">
        <img src="/images/carousel-2.jpg" alt="">

      </li>
      <li id="slide3">
        <img src="/images/carousel-3.jpg" alt="">

      </li>
    </ul>

    <ul class="menu">
      <li>
        <a href="#slide1"></a>
      </li>
      <li>
        <a href="#slide2"></a>
      </li>
      <li>
        <a href="#slide3"></a>
      </li>
    </ul>

  </div>
  <main>

    <div class="cont--login">
      <div class="cont--loginInt">

        <form  class="cont--loginInt" action="/login" method="POST">
          <h5 class="h5--login">INICIAR SESIÓN</h5>
          <input class="input--login" type="email" name="email" placeholder="  EMAIL" value="" required>
          <input class="input--login" type="password" name="password" placeholder=" CONTRASEÑA" value="" required>
          <button class="button--login" type="submit" value="INGRESAR"> INGRESAR </button>
          <a class="resgistrarse--login" href="/views/register.html">REGISTRARSE</a>
          <a class="a--login" href="/">¿Olvidaste tu contraseña?</a>
        </form>
      </div>
    </div>
    <section class="newsletter--Caja">
      <div class="newsletter--login">

        <h4 class="h4--login">NEWSLETTER</h4>
        <p class="p--login">dejanos tu email para poder enterarte de nuestras novedades y promos</p>
        <div class="div--login">
          <div class="divCjta-login">
            <input class="input--email" type="email" name="email" placeholder="  Ingresa tu e-mail">
            <button class="button--newsletter" type="submit">Enviar</button>
          </div>

        </div>
      </div>
    </section>


  </main>
  <footer>
    <nav>
      <ul>
        <li><a href="">Contacto</a></li>
        <li><a href="">Quienes somos</a></li>
        <li><a href="">Preguntas frecuentes</a></li>
      </ul>
    </nav>
    <div class="contacto">
      <i id="redes" class="fab fa-facebook"></i>
      <i id="redes" class="fab fa-instagram-square"></i>
      <img src="/images/metodosDePago.png" alt="">
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>