header{
    background-color: var(--color-header);
    width: 100%;
    display: flex;
    flex-direction: column;
    
  }

  
header img{
      width: 70%;
      display: block;
      margin: 0  auto 0;
      
      
  }
header nav{
     border-top: 1px var(--color-grisClaro) solid;
     border-bottom: 1px var(--color-grisClaro) solid;
 }
 header .botones{
    color: var(--color-grisClaro);
    display: flex;
    justify-content: space-between;
    margin: 0 10px 10px;
    
}
a{
    color: var(--color-grisClaro);

}

.dropdown-menu{
    background-color: var( --color-header);
    
}
.dropdown-menu .dropdown-item , .nav-item, #dropdownMenuButton1, .navbar-toggler-icon{ 
    color: white;

}
#dropdownMenuButton1, .dropdown, .dropdown-menu, .navbar-nav ms-auto mb-2 mb-lg-0{
    right: 245px;
}
.navbar-nav{
    margin-left: 5px;

}

@media (min-width: 768px){
    header.botones{
        font-size: 20px;
    }
    header img{
        max-width: 400px;
    }
    .navegador, .navbar-toggler{
        
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#959595+0,0d0d0d+46,010101+50,0a0a0a+53,4e4e4e+76,383838+87,1b1b1b+100;Black+Gloss+Pipe */
background: #959595; /* Old browsers */
background: -moz-linear-gradient(top,  #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */



    }
    
    #dropdownMenuButton1, .dropdown ,.btn, .btn btn-secondary dropdown-toggle{
        border: none;
    }
    #dropdownMenuButton1, .dropdown, .dropdown-menu, .navbar-nav ms-auto mb-2 mb-lg-0{
        background-color: transparent;
        text-align: center;
    }
    .container-fluid{
        width: 100%;
    }
    header .navegador .nav-link.active{
        padding: 10px 30px;
    }
     .collapse{
        margin-left: 50px;
    }
    #dropdownMenuButton1, .dropdown, .dropdown-menu, .navbar-nav ms-auto mb-2 mb-lg-0{
        right: 600px;
    }

   

}
@media (min-width: 1024px){
    header .botones{
        font-size: 30px;
        margin:0 20px 15px;
    }
    #dropdownMenuButton1, .dropdown, .dropdown-menu, .navbar-nav ms-auto mb-2 mb-lg-0 {
        background-color: transparent;
        text-align: center;
        top: 4px;
        left: 150px;
    }
    .dropdown-item, .dropdown-menu{
        background-color: var( --color-header);
    }
}
 /* hover*/
 .dropdown-item:hover{
    background-color:var( --color-amarillo);
    color:var( --color-footer)
}
.dropdown-menu:hover{
    background-color:var( --color-amarillo);
    color:var( --color-footer)
}
#dropdownMenuButton1:hover{
    background-color: var( --color-footer);
    color:var( --color-amarillo)

}


a:hover{
    color: var( --color-amarillo);
}
#navbarDropdown:hover{
    color: var( --color-amarillo);
}




