.container{
    background-color: var(--color-grisClaro);
    margin: 10px 3px;
    
    width: 98%;
    
  }
    ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
 ul.slider{
    position: relative;
    width: 100%;
    height: 300px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
  }
  
  ul.slider li img{
    width: 100%;
    height: inherit;
    object-fit: cover;
  }
 
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
    text-align: center;
    margin: 10px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
  }
  main{
    background-color: var(--color-amarillo);
    padding-bottom:30px;
  }
  
  main.destacados p, h4{
    color: var(--color-grisFooter);
    text-transform: uppercase;

  }
  main.destacados h1{
    font-weight: 700;
    text-align: center;
    color: var(--color-header);
    text-transform: uppercase;
  }
  main#primero.destacados h1{
    padding-top: 30px;
  }
  main.destacados h4{
    color: var(--color-header);
  }
  main.destacados p,h4{
    font-size: 20px;
    color: var(--color-footer)
  }
  main.destacados img{
    max-width: 150px;
    max-height: 300px;
    align-items: center;
  }
  main.destacados article{
  
    border: 3px var(--color-grisFooter) solid;
    border-radius: 70px;
    text-align: center;
    margin: 20px 10px;
    padding: 10px;
    width: 275px;
    background-color: var(--color-grisClaro);
    
  }
  section.contenedor button{
    border-radius: 20px;
    border-style: none;
    background-color: var(--color-footer);
    color: var(--color-grisFooter);
    font-weight: 900;
    font-size: 25px;
  }
  section.contenedor button a{
    text-decoration: none;
    font-weight: 400;
  }
  section .info{
    width: 98%;
  }
 section .compraonline{
    display: none;
  }
  section.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
    
    
   
  }



  @media (min-width: 768px){
    section .info{
      display:none
    }
    section .compraonline{
      display: initial;
      width: 100%;
    }
    section.contenedor{
     justify-content: space-between;
     flex-wrap: wrap;
   
    }

    



  }