body{
    background-color: var(--color-grisClaro);
}
main{
    background-color: var(--color-grisClaro);
}
.h1--listproducts{
    text-align: center;
    margin-top: 10px;
    background-color: var(--color-amarillo);
}
.listado h2{
    
    margin: 15px;
    padding-top: 20px;
}
button.art-listProducts a{
    color: var(--color-grisClaro);
    text-decoration: none;
    padding: 5px;
}
.contenedor-lista{
    background-color: var(--color-grisClaro);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgb(100, 100, 100);
    border-radius: 15px;
    flex-direction: column;
    text-align: center;
}
.contenedor-lista img{
    display: block;
    margin: auto;
}

 button{
    border-style: none;
    background-color: var(--color-header);
    border-radius: 20px;
    width: 40%;
    align-self: center;
}


@media (min-width: 768px){
    main {
        /* display: flex; */
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    button{
        width: 20%;
    }
    /* .caja-lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}

/* @media (min-width: 1024px){
    
} */