@media (min-width: 368px){
    .contenedor--admin{
        flex-wrap: wrap;
        
    }
    .contenedor--admin img{
        display: block;
        margin: auto;
    }
    .button--admin{
        margin: 5px;
        display: flex;
        align-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

}
.main--admin{
    background-color: var( --color-grisClaro);
    
}
.contenedor--admin{
    background-color: var( --color-grisClaro);
    margin: 25px;
    padding: 15px;
    box-shadow: 0 0 10px rgb(100, 100, 100);
    border-radius: 20px;

}
.caja-adbtn{
    padding: 5px;
    justify-content: space-between; 
    flex-wrap: nowrap;
    align-self: center;
}
.caja--admin img{
    height: 150px;
    width: 90px;
}
.main--admin h1{
    background-color: var(--color-amarillo);
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.main--admin p{
    color: var( --color-header);
    margin: 1px;
}


.caja--admin a{
    margin: 15px;
    
}

.button-1{
    background-color: var(--color-header);
    color: white;
    border-radius: 7px;
    margin:5px;
    width: 100px;
    
}
.button-2{
    background-color: var(--color-footer);
    color: white;
    border-radius: 7px;
    margin-left: 43px;
    width: 100px;
}
a:hover{
    color: var(--color-amarillo)
}
.button-1:hover{
    background-color: var( --color-footer);
    color: var( --color-amarillo);
}
.button-2:hover{
    background-color: var( --color-footer);
    color: var( --color-amarillo);
};

@media (min-width: 368px){
    .contenedor--admin{
        flex-wrap: wrap;
        
    }
    .contenedor--admin img{
        display: block;
        margin: auto;
    }
    

}
@media (min-width: 768px){
    .contenedor--admin{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
       
    }
    .caja--admin{
        justify-content: center;
       
       flex-wrap: wrap;
        margin-top: 0px;
        text-align:left
    }
   
}
@media (min-width: 1024px){
    .contenedor--admin{
    background-color: var( --color-grisClaro);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    }
    .button-1{
        margin-left: 30px;
    }
}



