@media (min-width: 368px){
    .contenedor--admin{
        flex-wrap: wrap;
        
    }
    .contenedor--admin img{
        display: block;
        margin: auto;
    }
    .button--admin{
        margin:5px;
       
    }

}
.main--admin{
    background-color: var( --color-amarillo);
}
.contenedor--admin{
    background-color: var( --color-grisClaro);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
    border: 1px var( --color-header) solid;
    border-radius: 5px;

}
.caja--admin{
    margin:5px;
    padding: 5px;
    justify-content: space-between;
    
    width: 100%;
    height: 200px;
    flex-wrap: nowrap;
    align-self: center;
    
    

}
.caja--admin img{
    height: 150px;
    width: 90px;
}
.main--admin h1{
    border-top: 1px var( --color-footer) dashed;
    margin: 15px;
    padding: 10px;
}
.main--admin p{
    color: var( --color-header);
    margin: 1px;
}


.caja--admin a{
    margin: 15px;
    
}

.button-1{
    background-color: darkgreen;
    color: white;
    border-radius: 7px;
    margin:5px;
    
    
}
.button-2{
    background-color: red;
    color: white;
    border-radius: 7px;
    margin-left: 43px;
    
}
a:hover{
    color: var(--color-amarillo)
}
.button-1:hover{
    background-color: var( --color-footer);
    color: var( --color-amarillo);
}
.button-2:hover{
    background-color: var( --color-footer);
    color: var( --color-amarillo);
};

@media (min-width: 368px){
    .contenedor--admin{
        flex-wrap: wrap;
        
    }
    .contenedor--admin img{
        display: block;
        margin: auto;
    }
    

}
@media (min-width: 768px){
    .contenedor--admin{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
       
    }
    .caja--admin{
        justify-content: center;
       
       flex-wrap: wrap;
        margin-top: 0px;
        text-align:left
    }
   
}
@media (min-width: 1024px){
    .contenedor--admin{
    background-color: var( --color-grisClaro);
    margin: 5px;
    padding: 5px;
    border: 1px var( --color-header) solid;
    border-radius: 5px;
    }
    .button-1{
        margin-left: 30px;
    }
}



