<footer>
    <nav>
      <ul>
        <div class="preguntas">
          <li><a href="">Contacto</a></li>
          <li><a href="">Quienes somos</a></li>
          <li><a href="">Preguntas frecuentes</a></li>
        </div>
      </ul>
    </nav>
    <div class="contacto">
      <a href="https://www.facebook.com/"> <img src="/images/facebooklogo.png" alt=""></img></a>
      <a href="https://www.instagram.com/"> <img src="/images/instagramlogo.png" alt=""></img></a>
      <div class="metodos">
        <img src="/images/metodosDePago.png" alt="">
      </div>

    </div>
  </footer>