<footer>
    <nav>
      <ul>
        <div class="preguntas">
          <li><a href="/users/about">Quiénes somos</a></li>

          <li><a href="/users/faqs">Preguntas frecuentes</a></li>
        </div>
      </ul>
    </nav>
    <div class="contacto">
      <li><a  href="/users/contact">Contacto</a></li>

      <a href="https://www.facebook.com/"> <img src="/images/facebooklogo.png" alt=""></img></a>
      <a href="https://www.instagram.com/"> <img src="/images/instagramlogo.png" alt=""></img></a>
      <div class="metodos">
        <p>Métodos de Pago</p>
        <img src="/images/pay pal.png" alt="">
        <img src="/images/mastercard.png" alt="">
        <img src="/images/visa.png" alt="">
        <img src="/images/visa2.png" alt="">
        <img src="/images/cencosud.png" alt="">
        <img src="/images/isologoVertical.png" alt="">
      </div>
        <p class="copyright-os"> © Copyright OhShots - 2021</p>
    </div>
  </footer>