<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col-1">
          <h3>Métodos de pago</h3>
          <div class="app-logo">
            <img src="/images/pay pal.png" alt="">
            <img src="/images/mastercard.png" alt="">
            <img src="/images/visa.png" alt="">
            <img src="/images/visa2.png" alt="">
            <img src="/images/cencosud.png" alt="">
            <img src="/images/isologoVertical.png" alt="">
          </div>
        </div>
        <div class="footer-col-2">
          <a href="/">
            <img src="/images/logotipo.png" alt="">
          </a>
        </div>
        <div class="footer-col-3">
          <li><a href="/users/about"><h3>Quiénes somos</h3></a></li>
          <li><a href="/users/faqs"><h3>Preguntas frecuentes</h3></a></li>
        </div>
        <div class="footer-col-3">
          <li><a  href="/users/contact"><h3>Contacto</h3></a></li> 
          <ul>
            <a href="https://www.facebook.com/"> <img class="contacto" src="/images/facebooklogo.png" alt=""></img></a>
            <a href="https://www.instagram.com/"> <img class="contacto" src="/images/instagramlogo.png" alt=""></img></a>
          </ul>
        </div>
      </div>
      <hr />
      <p class="copyright">© Copyright OhShots - 2021</p>
    </div>
  </div>


  </footer>