<header>
<div class="box-de-header" >
  <a href="/products/cart"><i class="fas fa-shopping-cart fa-lg"></i></a>
 
  <a href="/">
    <img src="/images/logotipo.png" alt="">
  </a>
  <a href="/users/login"> <i class="far fa-user fa-lg"></i></a>
   
</div>

  <nav class="navegador">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: var(--colorGrisClaro);">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/products/listProducts" id="navbarDropdown">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" id="navbarDropdown">Bebidas blancas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" id="navbarDropdown">Vinos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" id="navbarDropdown">Promos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" id="navbarDropdown">Recetas</a>
            </li>

            
              <% if (locals.userLogin) { %>
                <% if (locals.userLogin.rolId == 2 ) { %>
                  
                    <div class="dropdown" id="navbarDropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-sign-in-alt"></i>
                        ADMIN
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/users/profile/<%= locals.userLogin.id %>">Perfil</a></li>
                        
                        <li><a class="dropdown-item" href="/products/add">Agregar productos</a></li>
                        <li><a class="dropdown-item" href="/products/admin">Editar productos</a></li>
                        <li><a class="dropdown-item" href="/users/logout">Cerrar sesión</a></li>
                      </ul>
                    </div>
                    <% } %>
                    <% if (locals.userLogin.rolId !==2) { %>
                      <div class="dropdown" id="navbarDropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fas fa-sign-in-alt"></i>
                          <%=  locals.userLogin.nombre + " " + locals.userLogin.apellido %> 
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="/users/profile/<%= userLogin.id %>">Perfil</a></li>
                          
                          <li><a class="dropdown-item" href="/users/logout">Cerrar sesión</a></li>
                        </ul>
                      </div>
                    <% } %>
                   
                  
                    <% }else{ %>

                  <li class="nav-item">
                    <a class="nav-link active" id="navbarDropdown" href="/users/register">Registrarse</a>
                  </li>


                  <% } %>



            </ul>
        </div>
      </div>
    </nav>



  </nav>
</header>