<header>
    <a href="/">
      <img src="/images/logotipo.png" alt="">
    </a>

    <div class="botones">
      <a href="/users/login"> <i class="far fa-user fa-lg"></i></a>


      <a href="/productCart"><i class="fas fa-shopping-cart fa-lg"></i></a>

    </div>

    <nav class="navegador">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: var(--colorGrisClaro);">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Bebidas blancas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Vinos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Promos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Recetas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/users/register">Registrarse</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>



    </nav>
  </header>