<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('./partials/head') %>
  <body class="about-c">
    <!-- Header -->
    <%- include('./partials/header') %>

    <main >
      
          <div class="about-box">
        <h1>Sobre nosotros</h1>

        <p> OhShots es un e-commerce de bedidas alcohólicas que apunta a un público mayor de 18 años. Los productos ofrecidos son: vinos, cervezas y bebidas blancas.</p>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam dolorum ducimus, quaerat perspiciatis provident architecto. Officia quasi officiis odit earum quis sequi provident temporibus in ex, id aliquam unde mollitia.</p>
        </div>
      
    </main>

    <!-- Footer -->

    <%- include('./partials/footer') %>

    <!-- Script -->
    <%- include('./partials/script') %>
  </body>
</html>
