<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head') %> 
<body class="faqs-c">
 <!-- Header -->
 <%- include('./partials/header') %> 

<main>
    <h1>FAQs</h1>
    <div class="faqs-box">
        <h3>Métodos de pago</h3>
        <div class="accordion">
            <div class="icon-a"> <i class="fas fa-plus-circle"></i> </div>
                <h3>¿Acepta el pago con tarjetas de crédito?</h3>
        </div>
            <div class="panel-a">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolore aspernatur eligendi temporibus recusandae, aut beatae voluptatibus amet corporis esse reiciendis? Distinctio porro velit magni? Ab iure alias magnam fugiat.</p>
            </div>
        <div class="accordion">
            <div class="icon-a"> <i class="fas fa-plus-circle"></i> </div>
                <h3>¿Se puede pagar con PayPal?</h3>
        </div>
            <div class="panel-a">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolore aspernatur eligendi temporibus recusandae, aut beatae voluptatibus amet corporis esse reiciendis? Distinctio porro velit magni? Ab iure alias magnam fugiat.</p>
            </div>
            <h3>Devoluciones</h3>
        <div class="accordion">
         </div>
        <div class="accordion">
            <div class="icon-a"> <i class="fas fa-plus-circle"></i> </div>
                <h3>¿Se pueden devolver los productos de la tienda?</h3>
        </div>
            <div class="panel-a">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolore aspernatur eligendi temporibus recusandae, aut beatae voluptatibus amet corporis esse reiciendis? Distinctio porro velit magni? Ab iure alias magnam fugiat.</p>
            </div>
        <div class="accordion">
            <div class="icon-a"> <i class="fas fa-plus-circle"></i> </div>
                <h3>¿Cómo se tramita la devolución?</h3>
        </div>
            <div class="panel-a">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolore aspernatur eligendi temporibus recusandae, aut beatae voluptatibus amet corporis esse reiciendis? Distinctio porro velit magni? Ab iure alias magnam fugiat.</p>
            </div>


        </div>

    </div>
<div>

    <script src="js/faq.js"></script>

</main>

 <!-- Footer -->

 <%- include('./partials/footer') %> 

 <!-- Script -->
 <%- include('./partials/script') %> 
</body>
</html>