<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head') %> 
<body class="faqs-c">
 <!-- Header -->
 <%- include('./partials/header') %> 

<main>
    <div class="faqs-box">
<h1>FAQs</h1>

<h3>Métodos de pago</h3>
    </div>
<div>
<p> ¿Acepta el pago con tarjetas de crédito? </p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus vitae doloribus ratione aperiam dicta quibusdam quaerat commodi laborum, accusantium eaque ullam ad necessitatibus possimus enim voluptatem nihil fugit quidem dolore?
<p> ¿Se puede pagar con PayPal?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed illum nihil est totam adipisci, harum alias aut voluptate similique, dolorum dolore necessitatibus consequatur saepe asperiores at autem cum in officiis.</p>
</div>
<div class="faqs-box">
<h3>Devoluciones</h3>
</div>
<div>
<p>¿Se pueden devolver los productos de la tienda? </p>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque minima iure repellat unde quos officia totam corporis eius optio possimus corrupti animi numquam, aliquam impedit id repudiandae, explicabo reprehenderit placeat.
<p>¿Cómo se tramita la devolución?</p>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur tempora facilis accusamus quam voluptates libero ducimus, repellendus, earum cumque tenetur possimus molestias, omnis nemo debitis incidunt quasi sit harum dolor?
</div>
</div>

</main>

 <!-- Footer -->

 <%- include('./partials/footer') %> 

 <!-- Script -->
 <%- include('./partials/script') %> 
</body>
</html>