<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('./partials/head') %> 


<body>
  <!-- Header -->
  <%- include('./partials/header') %> 

  <div class="container-fluid">

    <ul class="slider">
      <li id="slide1">
        <img src="/images/carousel-1.jpg" alt="">


      </li>
      <li id="slide2">
        <img src="/images/carousel-2.jpg" alt="">

      </li>
      <li id="slide3">
        <img src="/images/carousel-3.jpg" alt="">

      </li>
    </ul>

    <ul class="menu">
      <li>
        <a href="#slide1"></a>
      </li>
      <li>
        <a href="#slide2"></a>
      </li>
      <li>
        <a href="#slide3"></a>
      </li>
    </ul>

  </div>
  <main id="primero" class="destacados">
    <h1>Destacados</h1>
    <section class="contenedor">
      <article>
        <img src="/images/gin.png" alt="">
        <p>precio</p>
        <h4>Nombre producto</h4>
        <button class="articulo"><a href="/productDetail">Más info</a></button>

      </article>
      <article>
        <img src="/images/vino.png" alt="">
        <p>precio</p>
        <h4>Nombre producto</h4>
        <button class="articulo"><a href="/productDetail">Más info</a></button>
      </article>
      <article>
        <img src="/images/andesroja.png" alt="">
        <p>precio</p>
        <h4>Nombre producto</h4>
        <button class="articulo"><a href="/productDetail">Más info</a></button>
      </article>
    </section>
    <h1>Tambien puede interesarte</h1>

    <section class="contenedor">
      <article>
        <img src="/images/yuGin.png" alt="">
        <p>precio</p>
        <h4>Nombre producto</h4>
        <button class="articulo"><a href="/productDetail">Más info</a></button>
      </article>
      <article>
        <img src="/images/sidraPeer.png" alt="">
        <p>precio</p>
        <h4>Nombre producto</h4>
        <button class="articulo"><a href="/productDetail">Más info</a></button>
      </article>
      <article>
        <img src="/images/absolutVodka.png" alt="">
        <p>precio</p>
        <h4>Nombre producto</h4>
        <button class="articulo"><a href="/productDetail">Más info</a></button>
      </article>




    </section>
    <h1>Packs</h1>
    <section class="contenedor">
      <article>
        <img src="/images/packBrahma.png" alt="">
        <p>precio</p>
        <h4>Nombre producto</h4>
        <button class="articulo"><a href="/productDetail">Más info</a></button>
      </article>
      <article>
        <img src="/images/packStella.png" alt="">
        <p>precio</p>
        <h4>Nombre producto</h4>
        <button class="articulo"><a href="/productDetail">Más info</a></button>
      </article>
      <article>
        <img src="/images/patagoniaLatas.png" alt="">
        <p>precio</p>
        <h4>Nombre producto</h4>
        <button class="articulo"><a href="/productDetail">Más info</a></button>
      </article>
    </section>



  </main>
  <section>
    <img class="info" src="/images/compraonline1.png" alt="">
    <img class="info" src="/images/compraonline2.png" alt="">
    <img class="info" src="/images/compraonline3.png" alt="">
    <img class="info" src="/images/compraonline4.png" alt="">
    <img class="compraonline" src="/images/compraonlinesketch.png" alt="">



  </section>

  <!-- Footer -->

  <%- include('./partials/footer') %> 

  <!-- Script -->
  <%- include('./partials/script') %> 


</body>

</html>