<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('./partials/head') %> 

<body class="body--login">
  
    <!-- Header -->
  <%- include('./partials/header') %> 
  
  <div class="container-fluid">

    <ul class="slider">
      <li id="slide1">
        <img src="/images/carousel-1.jpg" alt="">


      </li>
      <li id="slide2">
        <img src="/images/carousel-2.jpg" alt="">

      </li>
      <li id="slide3">
        <img src="/images/carousel-3.jpg" alt="">

      </li>
    </ul>

    <ul class="menu">
      <li>
        <a href="#slide1"></a>
      </li>
      <li>
        <a href="#slide2"></a>
      </li>
      <li>
        <a href="#slide3"></a>
      </li>
    </ul>

  </div>
  <main>

    <div class="cont--login">
      <div class="cont--loginInt">

        <form  class="cont--loginInt" action="/login" method="POST">
          <h5 class="h5--login">INICIAR SESIÓN</h5>
          <input class="input--login" type="email" name="email" placeholder="  EMAIL" value="" required>
          <input class="input--login" type="password" name="password" placeholder=" CONTRASEÑA" value="" required>
          <button class="button--login" type="submit" value="INGRESAR"> INGRESAR </button>
          <a class="resgistrarse--login" href="/register">REGISTRARSE</a>
          <a class="a--login" href="/">¿Olvidaste tu contraseña?</a>
        </form>
      </div>
    </div>
    <section class="newsletter--Caja">
      <div class="newsletter--login">

        <h4 class="h4--login">NEWSLETTER</h4>
        <p class="p--login">dejanos tu email para poder enterarte de nuestras novedades y promos</p>
        <div class="div--login">
          <div class="divCjta-login">
            <input class="input--email" type="email" name="email" placeholder="  Ingresa tu e-mail">
            <button class="button--newsletter" type="submit">Enviar</button>
          </div>

        </div>
      </div>
    </section>


  </main>
  <!-- Footer -->

  <%- include('./partials/footer') %> 

  <!-- Script -->
  <%- include('./partials/script') %> 
</html>