<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('./partials/head') %> 

<body>
 <!-- Header -->
 <%- include('./partials/header') %> 


  <main class="productDetail">
    <h4>Ubicacion > nombre del producto</h4>
    <article>
      <img src="/images/gin.png" alt="lata cerveza wolf ipa">
    </article>
    <h1>
      Nombre de producto
    </h1>
    <!-- <h3>
      Detalle de producto/informacion
    </h3> -->
    <p class="detalle">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus, rem excepturi facilis tenetur
      ducimus, quibusdam eius corrupti quam ex est voluptatibus sed commodi? Unde aperiam maiores cum? Doloribus, rerum
      fugit magni nisi laborum aut, recusandae saepe veritatis magnam, reprehenderit quis ipsum mollitia itaque dolore
      quidem id fuga maxime. Pariatur, a.</p>
    <div class="contenedor">
      <p class="precio"> $$$$ </p> <a href="/productCart"><button class="boton">comprar</button></a>
    </div>
      <div class="separador1">
        <h2>También te puede interesar</h2>
      </div>
    <section class="recomendados">

      <article class="prod1">
        <img src="/images/gin.png" alt="">
        <h5>Nombre producto</h5>
        <p>$$$$</p>
      </article>
      <article class="prod1">
        <img src="/images/vino.png" alt="">
        <h5>Nombre producto</h5>
        <p>$$$$</p>
      </article>
      <article class="prod1">
        <img src="/images/andesroja.png" alt="">
        <h5>Nombre producto</h5>
        <p>$$$$</p>
      </article>
    </section>
</body>
</main>
 <!-- Footer -->

  <%- include('./partials/footer') %> 

  <!-- Script -->
  <%- include('./partials/script') %> 


</body>

</html>