<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('./partials/head') %>


  <body class="body--register">
    


    <!-- Header -->
    <%- include('./partials/header') %>


    
      <main>
       
        

      </main>


      <!-- Footer -->

      <%- include('./partials/footer') %>

        <!-- Script -->
        <%- include('./partials/script') %>
  </body>

</html>