<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('./partials/head') %>


  <body class="body--register">
    


    <!-- Header -->
    <%- include('./partials/header') %>


    
      <main>
        <div class="register">
          <main class="container mt-5">
            <h3 id="text-search"></h3>
            <div id="box-products" class="row">
            
            </div>
          </main>
      </div>
       
        

      </main>


      <!-- Footer -->

      <%- include('./partials/footer') %>

        <!-- Script -->
        <%- include('./partials/script') %>
  </body>

</html>