<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head') %>


    <body>
        <!-- Header -->
        <%- include('./partials/header') %>

            <main>



                <h2 class="profile-title">Mi perfil</h2>
                <div class="info-usuario">
                    <img src="<% locals.userLogin.profilePic %>" alt="">

                    <h3 class="user-name">
                        <% locals.userLogin.nombre %>
                    </h3>
                    <p>
                        <% locals.userLogin.apellido %>
                    </p>
                    <p>
                        <% locals.userLogin.email %>
                    </p>
                    <div>
                        <button class="user-btn">
                            <a class="logout-btn" href="/users/logout">Cerrar sesión</a>
                        </button>
                    </div>
                </div>

            </main>





            <!-- Footer -->

            <%- include('./partials/footer') %>

                <!-- Script -->
                <%- include('./partials/script') %>
    </body>

</html>